*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #E6E6E6;
    text-align: center;
    color: #005677;
}

/* main{
    width: 80%;
    margin: 0 auto;
    text-indent: 5px;
} */

section{
    max-width: 50%;
    margin:0 auto;
}

h2{
    background-color: #E6E6E6;
    color: #005677;
}



span{
    font-weight: bold;
}

footer{
    display: flex;
    justify-content: center;
    gap: 7px;
    padding: 10px;
    background-color: #005677;
    color: #FFFFFF;
    font-variant: inherit;
    text-align: center;
    margin-top: 70px;
}




